body{
    margin: 0;
    padding: 0;
    background-color: rgb(21, 15, 34);
    color: white;
    font-family: 'Questrial';
}
/*----fkLogin----*/
.container{
    display: flex;
    flex-wrap: wrap; 
    gap: 60px; 
    align-items: stretch; 
    margin: 0;
    padding: 0;
}

.login{
    color: #ffffff;
    background: linear-gradient(278deg, #667eea 0%, #764ba2 100%);
    padding:0px 20px 10px 20px;
    margin:10px 0px 10px 90px;
    font-family: 'Calibri';
    border-radius: 9px;
    box-shadow: 4px 4px 25px 0px #0000001A;
    flex: 1;
    min-width: 300px;
    max-width: 500px;
}
.aside1a{
    flex: 1;
    min-width: 300px;
    display: flex;
    align-items: stretch;
    overflow: hidden;
}
.sorry-message{
    height: 100vh;
    width: 100%;
    object-fit: cover;
    display: block;
}
#TB{
    text-align: center;
}
#ts{
    font-size: 15px;
}
#ts a{
    text-decoration: none;
    color: rgb(149, 165, 42);
}

#btn{
    border: 2px solid;
    border-color: white;
    color: #ffffff;
    background-color: rgb(129, 3, 226);
    height: 60px;
    width: 80px;
    border-radius: 7px;
    cursor: pointer;
}
#btn:hover {
    cursor: pointer;
    background: linear-gradient(230deg, #764ba2 0%, #667eea 100%);
    box-shadow: 0px 2px 10px rgb(27, 27, 27);
}
.int{
    width: 70%;
    height: 30px;
    border-radius: 4px;
    border: none;
    padding-left: 10px;
}
/*NavBar*/
.logo h3{
    color: white;
    padding-bottom: 5px;
    margin-top: 35px;
    padding-left: 10px;
    font-family: 'lexend';
    font-weight: bold;
}
.img1{
    width: 80px;
    height: 80px;
}
.logo {
    display: flex;
    margin-left: 50px;
}
nav ul{
    text-align: right;
    list-style-type: none;
    display: flex;
    gap: 30px;
    padding: 20px;
    font-family: 'inter';
}
nav a:hover{
    cursor: pointer;
    color: red;
}
.navbar{
    display: flex;
    background-color: rgb(21, 15, 34);
    justify-content: space-between;
    text-align: right;
}
nav a{
    text-decoration: none;
    color: white;
}
.navlink{
    display: flex;
    gap: 20px;
    list-style: none;
    margin-right: 50px;
}
.active{
    filter: brightness(0) saturate(100%) invert(60%) sepia(80%) saturate(500%) hue-rotate(200deg);
    padding: 5px;
    text-decoration: underline;
}
/*----footer----*/

/*Hero*/
.hero{
    color: white;
}
.content{
    display: flex;

}
.content-left{
    padding-left: 20px;
    margin-top: 90px;
    width: 650px;
}
.content-left h3{
    font-size: 3em;
    font-family: 'lexend';
}
.content-left p{
    font-size: 18px;
    font-family: 'Raleway';
}
.btn{
    margin-left: 9px;
    border: none;
    border-radius: 3px;
    color: white;
    background-color: red;
    height: 50px;
    width: 80px;
    font-family: 'raleway';
    padding: 10px;
    font-weight: 500;
}
.btn a{
    color: white;
    text-decoration: none;
}
.btn:hover{
    box-shadow: 0 2px 10px black;
    background-color: rgb(240, 135, 135);
    cursor: pointer;
}
.content-right{
    width: 650px;
    height: 650px;
}
.table-layout1{
    border-collapse: separate;
    border-spacing: 20px;
    border: none;
}
#table1{
    font-weight: bold;
    font-size: large;
    font-family: 'lexend';
    text-align: center;
}
#table2{
    font-family: 'raleway';
}
.goals{
    display: flex;
    gap: 60px;
    background-color: rgb(25, 21, 34);
    justify-content: center;
    
}
.More{
    font-family: 'lexend';
}
.More h3{
    color: red;
    text-align: center;
}
.Video{
    padding-top: 30px;
    margin-right: 30px;
    font-family: 'lexend';
}

.Video i{
    font-size: 28px;
    padding: 10PX;
}
.programs{
    display: flex;
    gap: 60px;
    justify-content: center;
    margin: 30px;
}
.Reach h3{
    font-family: 'Questrial';
    font-size: 2rem;
    font-weight: 900;
}
.Reach p{
    font-family: 'raleway';
}

.Reach {
    width: 500px;
    height: auto;
    padding: 5px;
}
.btn1{
    padding: 10px;
    background-color: red;
    border: none;
    border-radius: 5px;
    font-family: 'Raleway';
    color: white;
    font-weight: 500;
}
.btn1 a{
    text-decoration: none;
    color: white;
}
.btn1:hover{
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    background-color: rgb(243, 119, 119);

}
.offer{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    background-color: rgb(25, 21, 34);
    
}
.Best h3{
    font-family: 'Questrial';
    font-weight: bold;
    font-size: 3em;
}
.You p{
    font-family: 'Raleway';
    font-size: 15px;
    width: 450px;
    height: auto;
    padding-top: 30px;
}
.offer-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: rgb(25, 21, 34);
    height: 300px;
}
.card1{
    width: 250px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(95, 95, 95, 0.36);
    padding: 10px;
    border-radius: 10px;
}
.card1 p{
    text-align: center;
    font-family: 'Raleway';
    font-size: 13px;
}

.card1 img{
    width: 50px;
    height: 50px;
}
.card1 h3{
    font-family: 'lexend';
    text-transform: capitalize;
}
.card1:hover{
    background-color: orangered;
    color: white;
}
.choose{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}
.choose-left{
    width: 500px;
}
.choose-left h2{
    font-family: 'lexend';
    font-size: 30px;
    font-weight: bolder;
}
.choose-left h3{
    font-weight: bold;
    font-family: 'lexend';
    font-weight: 500;
}
.choose-left p{
    font-family: 'Raleway';
    font-size: 15px;
}
.choose-right img{
    width: 650px;
    height: 650px;
}
.btn5{
    padding: 10px;
    background-color: red;
    border: none;
    border-radius: 5px;
    font-family: 'Raleway';
    color: white;
    font-weight: 500;
}
.btn5:hover{
    cursor: pointer;
}
.rollover:hover{
    content: url(Img/rollover.png);
    cursor: pointer;
}
/*Payment*/
.payment{
    text-align: center;
}
.payment-plan{
    display: flex;
    text-align: justify;
    justify-content: center;
    gap: 20px;
}
.card{
    background-color: rgb(72, 72, 72);
    border-radius: 10px;
    height: auto;
    margin-top: 10px;
    width: 300px;
    font-family: 'owaldo';
    padding: 5px;
}
.card h4{
    font-family: 'lexend';
    text-align: center;
}
.card p{
    text-align: center;
}
.card:hover{
    cursor: pointer;
    background-color: orangered;
    height: 330px;
    width: 330px;
}

.payment h3{
    font-family: 'lexend';
    font-size: 2em;
}
.payment p{
    font-family: 'Raleway';
}
.payment li{
    font-family: 'lexend';

}
.pbtn{
    background-color: rgb(54, 52, 52);
    color: aliceblue;
    font-weight: bold;
    font-size: 15px;
    border-color: azure;
    border-radius: 25px;
    width: 150px;
    border: 1px solid;
    padding: 10px;
    
}
.pbtn:hover{
    background-color: orangered;
    color: white;
}

.i9{
    font-weight: bold;
    font-size: 30px;
    font-family: 'inter';
}
/*----Products Page----*/

.tab1{
    padding: 30px;
    margin: 30px;
    background-color: #ffffff;
    border-radius: 10px;
    color: #060606;
}
.in-stocks{
    color: green;
    font-weight: bold;
}
.low-stocks{
    color: yellow;
    font-weight: bold;
}
.out-stocks{
    color: red;
    font-weight: bold;
}
.Blk-Inv{
    background: linear-gradient(278deg, #667eea 0%, #764ba2 100%);
    color: white;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 30px;
}
.layout-table{
    text-align: center;
    width: 100%;
    border-collapse: separate;
    border-spacing: 20px;
    border: none;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
.invent {
    display: flex;
}

.sidebar {
    margin: 0px 20px 20px 20px;
    background-color: #49225B;
    padding: 20px;
    border-radius: 10px;
}
.silogo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'lexend';
}

.sinav-links li {
    margin: 50px;
    list-style: none;
}

.sinav-links a {
    font-family: 'Raleway';
    text-decoration: none;
    text-transform: capitalize;
    color: white;
    font-weight: 600;
}

.sinav-links a:hover {
    background-color: white;
    color: #49225B;
    padding: 10px 50px 10px 5px;
    border-radius: 10px;
}

.sinav-links a:active {
     background-color: white;
    color: #49225B;
    padding: 10px 50px 10px 5px;
    border-radius: 10px;
}
.silogo img {
    width: 50px;
    height: 50px;
}
.layout-table1{
    text-align: center;
    width: 100%;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
.layout-table th, .layout-table1 th{
    background-color: rgb(255, 255, 255);
    padding-bottom: 10px;
}
.layout-table td, .layout-table1 td{
    padding: 15px;
    text-align: center;
    vertical-align: top;
}
.layout-table h3, .layout-table1 h3{
    font-size: 20px;
}
.tD2{
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    padding: 20px;
}
/*ProduEquipments*/
.whole{
    display: flex;
}
.who{
    width: 30%;
}
.wee{
    width: 70%;
    height: 80vh;
    background-color: aliceblue;
    color: black;
    padding: 10px;
    box-shadow: 0px 2px 10px black;
    border-radius: 10px;
    font-family: 'Questrial';
}
.wee h3{
    padding-left: 20px;
    font-size: 2em;
    font-weight: 700;
}
.filter{
    padding: 20px;
    width: 90%;
    background-color: white;
    margin: 20px;
}
.filter1{
    padding: 20px;
    width: 100%;
}
.filter1 td{
    padding: 10px;
}
.filter1 tr{
    background-color: rgb(255, 255, 255);
}
#mill{
    background-color: rgb(222, 221, 221);
}
#eqn{
    padding-left: 20px;
    background-color: #49225B;
    color: white;
}
#enn{
    background-color: green;
    color: white;
}
.iop{
    border: none;
    width: 190px;
    height: 35px;
}
.stats-available{
    background-color: rgb(171, 231, 191);
    margin: 18px;
    font-weight: bold;
    color: rgb(31, 173, 2);
    border-radius: 5px;
}
.stats-low{
    background-color: rgb(246, 246, 160);
    color: rgb(118, 114, 0);
    font-weight: bold;
    border-radius: 5px;
}
.stats-out{
    background-color: rgb(252, 129, 129);
    color: rgb(147, 6, 6);
    font-weight: bold;
    border-radius: 5px;
}
/*----Sales Page----*/
.shanks{
    margin: auto;
    text-align: center;
    background-color: whitesmoke;
    padding: 10px;
    margin: 7px;
    box-shadow: 0px 2px 10px black;
    color: #060606;
}
fieldset{
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}
label{
    width: 10%;
    height: 10px;
    border: none;
    padding: 0px;
}
.icon{
    margin-top: 10px;
    width: 40px;
    height: 30px;
}
.int{
    width: 70%;
    height: 30px;
    border-radius: 4px;
    border: none;
    padding-left: 10px;
}
.form-1{
    color: white;
    background-color: #656565;
    padding: 20px;
    box-shadow: 0px 2px 10px black;
}
#btn2{
    margin: 20px;
    width: 90px;
    height: 40px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    background: linear-gradient(20deg, #764ba2 0%, #667eea 100%);
}
#btn2:hover{
    cursor: pointer;
    background: linear-gradient(230deg, #764ba2 0%, #667eea 100%);
    box-shadow: 0px 2px 10px rgb(27, 27, 27);
}
legend{
    font-weight: bold;
}
/* Sidebar */
.sidebar31{
    width:30%;
    height:100vh;
    background:#111827;
    color:white;
    padding:20px;
}
.sidebar31 h2{
    text-align:center;
    margin-bottom:30px;
    color:#22c55e;
}
.sidebar31 ul{
    list-style:none;
}
.sidebar31 ul li{
    padding:15px;
    margin-bottom:10px;
    border-radius:8px;
    cursor:pointer;
    transition:0.3s;
}
.sidebar31 ul li:hover{
    background:#1f2937;
}
.dashboard{
    width: 70%;
}
/* Main */
.main{
    flex:1;
    padding:30px;
}
/* Cards */
.cards{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap:20px;
    margin-bottom:30px;
}
.card31{
    background:white;
    padding:20px;
    border-radius:12px;
    box-shadow:0 4px 10px rgba(0,0,0,0.05);
}
.card31 h3{
    margin-bottom:10px;
    color:#6b7280;
}
.card31 p{
    font-size:24px;
    font-weight:bold;
    color:#111827;
}
/* Table */
.table-container{
    background:white;
    padding:20px;
    border-radius:12px;
    box-shadow:0 4px 10px rgba(0,0,0,0.05);
    margin-bottom:30px;
}
table{
    width:100%;
    border-collapse:collapse;
}
table thead{
    background: rgb(36, 3, 67);
    color:white;
}
table td{
    padding:12px;
    text-align:left;
    color: rgb(1, 1, 1);
}
table th{
    padding:12px;
    text-align:left;
    color: rgb(255, 255, 255);
}
table tr:nth-child(even){
    background:#f3f4f6;
}
.status{
    padding:5px 10px;
    border-radius:20px;
    font-size:12px;
    color:white;
}
.available{ background:#22c55e; }
.low{ background:#f59e0b; }
.out{ background:#ef4444; }

/* Form Section */
.form-container{
    background:white;
    padding:25px;
    border-radius:12px;
    box-shadow:0 4px 10px rgba(0,0,0,0.05);
}
.form-container h2{
    margin-bottom:20px;
    color: black;
}
.form-group{
    margin-bottom:15px;
}
.form-group label{
    display:block;
    margin-bottom:6px;
    font-weight:bold;
}
.form-group input,
.form-group select{
    width:100%;
    padding:10px;
    border:1px solid #ccc;
    border-radius:6px;
}
.form-group input:focus,
.form-group select:focus{
    outline:none;
    border-color:#22c55e;
}
.submit-btn{
    padding:10px 20px;
    background:#22c55e;
    border:none;
    color:white;
    border-radius:6px;
    cursor:pointer;
}
i {
    border: none;
    padding: 8px;
    background-color: #1d0555e1;
    border-radius: 50px;
    color: white;
}
.submit-btn:hover{
    background:#16a34a;
}
/*----Suppliers Page----*/
#supps1{
    width: 100%;
    padding: 10px;
    background-color: whitesmoke;
    text-align: justify;
    color: #060606;
}
#supps1 th{
    background-color: white;
}
#supps1 td{
    padding-top: 10px;
    padding-bottom: 18px;
}
#supps1 h3{
    background-color: #ffffff;
}
.supps2 h3{
    padding-top: 20px;
    font-weight: bold;
}
.supps2{
    color: #060606;
    margin: 20px;
    background-color: whitesmoke;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    box-shadow: 0px 2px 10px black;
}
#supps22{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 10px black;
    border-radius: 20px;
    padding: 10px 20px 20px 20px;
}
#supps22 p{
    font-weight: bold;
}
#supps22 input, textarea{
    width: 60%;
    height: 30px;
    border-radius: 4px;
    margin-top: 10px;
    padding-left: 10px;
}
#supps22 textarea{
    width: 60%;
    height: 120px;
    border-radius: 4px;
    margin-top: 10px;
    padding-left: 10px;
}
#btn3{
    width: 100px;
    height: 35px;
    color: white;
    background: linear-gradient(278deg, #667eea 0%, #764ba2 100%);
    border-radius: 10px;
}
#btn3:hover{
    cursor: pointer;
    background: linear-gradient(230deg, #764ba2 0%, #667eea 100%);
    box-shadow: 0px 2px 10px rgb(27, 27, 27);
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    border-bottom: 1px solid white;
}

.main-footer {
    background-color: #292727ba;
    margin-top: 20px;
}

.card4 {
    line-height: 35px;
    padding: 10px;
}

.card4 a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-family: 'Questrial';
}
.card4 li {
    list-style: none;
    font-family: 'Questrial';
}

.com {
    font-size: 25px;
    font-weight: 700;
    font-family: 'lexend';
}

.card5 {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding-bottom: 15px;
    line-height: 28px;
}

.card5 input {
    padding: 10px;
}

.foot-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px
}

.fot-logo {
    display: flex;
    gap: 20px;
}

.fot-logo h3 {
    font-family: 'lexend';
}

.fot-logo img {
    width: 50px;
    height: 50px;
}

.copy-right {
    font-family: 'Questrial';
    font-weight: 500;
    color: #827979ba;;
}

.social-links i {
    border: none;
    background-color: red;
    padding: 9px;
    border-radius: 26px;
    font-size: 25px;
    margin: 2;
}
